/* 
    Document   : local
    Created on : 10/01/2014, 2:38:03 PM
    Author     : afakes
    Description:
        Purpose of the stylesheet follows.
*/

body { 
    display: block;
    background-color: #fcfcfc;
}


.forselection
{
    height: 100px;
    width: 100px;
    float: left;
    
}

.imageaction
{
    list-style-type: none;
}

.tool
{
    list-style-type: none;
    float: left;
}
